.container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container__formulario {
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: initial;
}

.formulario__campo {
    margin: 1em;
    font-size: 1.6em;
}

.formulario__titulo {
    color: var(--azul-medio);
    font-weight: bold;
    font-size: 21px;
}

.campo__escrita {
    width: 50vw;
    border-radius: 24px;
    display: block;
    color: black;
    padding: 1em
}

.campo__etiqueta {
    line-height: 1.5;
    padding: 0 0 .1em 1em;
    font-weight: 700;
    color: var(--azul-medio);
}

.formulario__botao {
    padding: 1em 3em;
    margin: 2em 0;
    border-radius: 24px;
    background-color: var(--azul-escuro);
}

/* ##### CÓDIGO DA MENSAGEM DE ERRO ADICIONADO AQUI ##### */
.mensagem-erro {
    width: 50vw; /* Para ter a mesma largura dos campos */
    box-sizing: border-box; /* Para que o padding não aumente a largura total */
    background-color: #ffebee; /* Fundo vermelho claro */
    color: #c62828; /* Texto vermelho escuro */
    border: 1px solid #c62828; /* Borda vermelha escura */
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1rem; /* Tamanho de fonte mais apropriado */
}